/FEM_equations.py
/Jacob Fish, Ted Belytschko - A First Course in Finite Elements [With CDROM] (2007, John Wiley & Sons Ltd) - libgen.li.pdf
/chapter_2.py
/finite_element_equations.py
/function_solver.mlx
/output.txt
/quad_equations.py
/test.py
/tri_equations.py